.graph-container {
    margin-top: 25px;
    padding: 0px 20px;
    // max-width: 1440px;
}

.recharts-responsive-container {
    // max-width: 800px;
}

.generation-mix-chart-label {
    text-align: center;
    font-size: 16px;
}

.recharts-wrapper {
    .recharts-line {
        > path {
            stroke-width: 3;            
        }
    }

    .recharts-cartesian-axis-tick-value, .recharts-legend-item-text {
        font-size: 18px;
    }

    text, .recharts-legend-item-text, .recharts-default-tooltip {
        font-family: $font-open-sans-condensed;
    }

    .recharts-legend-item-text {
        font-weight: bold;
    }

    .recharts-tooltip-item-list {
        .recharts-tooltip-item {
            margin-bottom: 0px !important;
            padding: 2px 0px !important;
        }
    }
}