.header-hero-section {
    background: url('../assets/images/hero.jpg') 50% no-repeat;
    background-size: cover;
    height: $hero-height;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header-title {
        padding-top: 10px;
        font-family: $font-ubuntu;
    }

    .header-bulb-container {
        height: $bulb-container-height;
        position: relative;

        .bulb-glow, .bulb-glow-2 {
            position: absolute;
            border-radius: 50%;
            transition: all 125ms ease;

            &.small {
                left: 89px;
                top: 57px;
                width: 71px;
                height: 71px;
            }

            &.large {
                top: 4px;
                left: 45px;
                width: 152px;
                height: 152px;
            }

            &.red {
                &.shadow {
                    box-shadow: 0px 0px 85px $red-bulb-shadow, 
                                0px 0px 120px $red-bulb-shadow,
                                0px 0px 161px $red-bulb-shadow;

                    &:after {
                        box-shadow: 0px 0px 190px $red-bulb-shadow;                        
                    }
                    
                }
                background-color: $red-bulb;
            }

            &.orange {
                &.shadow {
                    box-shadow: 0px 0px 120px $orange-bulb-shadow, 0px 0px 161px $orange-bulb-shadow, 0px 0px 85px $orange-bulb-shadow;
                }
                background-color: $orange-bulb;
            }

            &.yellow {
                &.shadow {
                    box-shadow: 0px 0px 120px $yellow-bulb-shadow, 0px 0px 161px $yellow-bulb-shadow, 0px 0px 85px $yellow-bulb-shadow;
                }
                background-color: $yellow-bulb;
            }

            &.lightgreen {
                &.shadow {
                    box-shadow: 0px 0px 120px $lightgreen-bulb-shadow, 0px 0px 161px $lightgreen-bulb-shadow, 0px 0px 85px $lightgreen-bulb-shadow;
                }
                background-color: $lightgreen-bulb;
            }

            &.green {
                &.shadow {
                    box-shadow: 0px 0px 120px $green-bulb-shadow, 0px 0px 161px $green-bulb-shadow, 0px 0px 85px $green-bulb-shadow;
                }
                background-color: $green-bulb;
            }
        }

        > img {
            height: 100%;
        }
        
        .bulb-glow-2 {
            animation: breath 1.75s infinite;
            animation-timing-function: ease-in;

            @keyframes breath {
                0% {
                    opacity: 0.2;
                }
                50% {
                    opacity: 0.8;
                }
                100% {
                    opacity: 0.2;
                }
            }
        }
    }



    .header-message {
        font-family: "Ubuntu", sans-serif;
        font-size: 28px;
        padding: 6px;
        background-color: rgba(255,255,255, 0.5);
        margin-bottom: 9px;
        border-radius: 15px;
        width: 465px;    
        height: 50px;
        text-align: center;
        
        transition: all ease-in 1s;

        .header-message-base, .header-message-value {
            display: inline-block;
            transition: opacity 950ms ease-in;
            
            &.invisible {
                opacity: 0.01;
            }

            &.visible {
                opacity: 1;
            }
        }

        .header-message-base {
            width: 65%;
        }

        .header-message-value {
            text-align: left;
            font-weight: bold;
        }
    }
}